//                         Layout
//  ╭────────────────────────╮╭────────────────────────╮
//  │ 0  | 1  | 2  | 3  | 4  ││ 21 | 20 | 19 | 18 | 17 │
//  │ 5  | 6  | 7  | 8  | 9  ││ 26 | 25 | 24 | 23 | 22 │
//  │ 10 | 11 | 12 | 13 | 14 ││ 31 | 30 | 29 | 28 | 27 │
//  ╰──────────────╮ 15 | 16 ││ 33 | 32 ╭──────────────╯
//                 ╰─────────╯╰─────────╯

compatible = "zmk,combos";

#define COMBO_GLOBAL(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <15>; \
    key-positions = <KEYPOS>; \
  };

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define ALPHA_ALL HDN ARAQ HDNW
#define ALPHA_MAC HDN
#define ALPHA_WIN ARAQ HDNW
#define ALPHA_NO_QWERTY HDN HDNW

/* Text */
/* COMBO(caps_word, &caps_word, 31 32, ALPHA_ALL) */
/* COMBO(key_repeat_l, &key_repeat, 23 24, ALPHA_ALL) */
/* COMBO(key_repeat_r, &key_repeat, 25 26, ALPHA_ALL) */

/* COMBO(alfred, &kp LG(SPACE), 21 23, ALPHA_ALL) */
/* COMBO(clpbrd, &kp LG(LC(LA(LS(Z)))), 21 22 23, ALPHA_ALL) */
/* COMBO(esc, &kp ESC, 23 30, ALPHA_ALL)  */
/* COMBO(up, &kp UP, 22 23, NAV NAVW) */
/* COMBO(down, &kp DOWN, 21 22, NAV NAVW) */

/* COMBO(sym1h, &macro_sym, 30 31, ALPHA_MAC) */
/* COMBO(sym1hw, &macro_symW, 30 31, ALPHA_WIN) */

/* bluetooth */
/* COMBO(bt_clear, &bt BT_CLR, 0 5, NAV NAVW) */
/* COMBO(bt_0, &bt BT_SEL 0, 0 1, NAV NAVW) */
/* COMBO(bt_1, &bt BT_SEL 1, 1 2, NAV NAVW) */
/* COMBO(bt_2, &bt BT_SEL 2, 2 3, NAV NAVW) */
/* COMBO(bt_3, &bt BT_SEL 3, 3 4, NAV NAVW) */

#define GCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/* mac | win */
/* GCOMBO(switch_to_mac, &to HDN, 8 9 20) */
/* GCOMBO(switch_to_win, &to HDNW, 18 19 29) */
/* GCOMBO(switch_to_ara, &to ARAQ, 7 18 29) */
