//                         Layout
//  ╭────────────────────────╮╭────────────────────────╮
//  │ 0  | 1  | 2  | 3  | 4  ││ 21 | 20 | 19 | 18 | 17 │
//  │ 5  | 6  | 7  | 8  | 9  ││ 26 | 25 | 24 | 23 | 22 │
//  │ 10 | 11 | 12 | 13 | 14 ││ 31 | 30 | 29 | 28 | 27 │
//  ╰──────────────╮ 15 | 16 ││ 33 | 32 ╭──────────────╯
//                 ╰─────────╯╰─────────╯

compatible = "zmk,combos";

#define COMBO_GLOBAL(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <15>; \
    key-positions = <KEYPOS>; \
  };

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define ALPHA_ALL HDN ARAQ HDNW
#define ALPHA_MAC HDN
#define ALPHA_WIN ARAQ HDNW
#define ALPHA_NO_QWERTY HDN HDNW

/* NAVIGATION */
COMBO(layer_dft, &to DFT, 16 33, 1 2)
COMBO(layer_sym, &to SYM, 15 33, 0 2)
COMBO(layer_sys, &to SYS, 15 32, 0 2)

COMBO_GLOBAL(left, &kp LEFT, 8 26)
COMBO_GLOBAL(down, &kp DOWN, 8 25)
COMBO_GLOBAL(up, &kp UP, 8 24)
COMBO_GLOBAL(right, &kp RIGHT, 8 23)

COMBO_GLOBAL(zero, &kp N0, 9 26)
COMBO_GLOBAL(one, &kp N1, 9 20)
COMBO_GLOBAL(two, &kp N2, 9 19)
COMBO_GLOBAL(three, &kp N3, 9 18)
COMBO_GLOBAL(four, &kp N4, 9 25)
COMBO_GLOBAL(five, &kp N5, 9 24)
COMBO_GLOBAL(six, &kp N6, 9 23)
COMBO_GLOBAL(seven, &kp N7, 9 20)
COMBO_GLOBAL(eight, &kp N8, 9 20)
COMBO_GLOBAL(nine, &kp N9, 9 20)

/* Text */
/* COMBO(caps_word, &caps_word, 31 32, ALPHA_ALL) */
/* COMBO(key_repeat_l, &key_repeat, 23 24, ALPHA_ALL) */
/* COMBO(key_repeat_r, &key_repeat, 25 26, ALPHA_ALL) */

/* COMBO(alfred, &kp LG(SPACE), 21 23, ALPHA_ALL) */
/* COMBO(clpbrd, &kp LG(LC(LA(LS(Z)))), 21 22 23, ALPHA_ALL) */
/* COMBO(esc, &kp ESC, 23 30, ALPHA_ALL)  */
/* COMBO(up, &kp UP, 22 23, NAV NAVW) */
/* COMBO(down, &kp DOWN, 21 22, NAV NAVW) */

/* COMBO(sym1h, &macro_sym, 30 31, ALPHA_MAC) */
/* COMBO(sym1hw, &macro_symW, 30 31, ALPHA_WIN) */

/* bluetooth */
/* COMBO(bt_clear, &bt BT_CLR, 0 5, NAV NAVW) */
/* COMBO(bt_0, &bt BT_SEL 0, 0 1, NAV NAVW) */
/* COMBO(bt_1, &bt BT_SEL 1, 1 2, NAV NAVW) */
/* COMBO(bt_2, &bt BT_SEL 2, 2 3, NAV NAVW) */
/* COMBO(bt_3, &bt BT_SEL 3, 3 4, NAV NAVW) */

#define GCOMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/* mac | win */
/* GCOMBO(switch_to_mac, &to HDN, 8 9 20) */
/* GCOMBO(switch_to_win, &to HDNW, 18 19 29) */
/* GCOMBO(switch_to_ara, &to ARAQ, 7 18 29) */
